.site-cart {
  display: flex;
  align-items: center;
  min-height: 32px;
  @include fontsizes(h6);
  color: $primary-color;
  margin-left: 55px;

  @include responsive('tablet-h') {
    width: 28px;
    height: 28px;
    position: relative;
    margin-left: 0;
  }

  svg {
    margin-right: 10px;

    g {
      fill: $primary-color;
    }

    @include responsive('tablet-h') {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  span {
    @include responsive('tablet-h') {
      display: none;
    }
  }

  .end-purchase {
    @include responsive('mobile-h') {
      display: none;
    }
  }
}
