.stars_cont {
    display: flex;
    align-items: center;

    .star {
        width: 15px;
        height: 15px;
        position: relative;
        margin: 0 1.5px;

        svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &.active {
            svg {
                path {
                    fill: $primary-color;
                }
            }
        }
    }
}

.product__item {
    .stars_cont {
        justify-content: center;
        margin-top: 15px;
    }
}