.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 195px;
	z-index: 10;

	@include responsive('mobile-h') {
		height: 100px;
	}

	.container {
		position: relative;
	}

	.site-logo {
		position: absolute;
		top: 15px;
		left: 30px;
		width: 176px;
		@include tre(.5s);

		svg {
			width: 100%;
			height: auto;
		}

		#logo_text {
			path {
				@include tre(.5s);
				fill: $primary-color;
			}
		}

		@include responsive('tablet-h') {
			z-index: 5;
			top: 27px;
			left: 30px;
			width: 150px;
		}
	}

	.home & {
		.site-logo {
			#logo_text {
				path {
					fill: $white;
				}
			}
		}
	}

	.container:before {
		width: 90px;
		height: 100px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		content: '';
		display: block;
		background: $white;
		top: 0;
		opacity: 0;
		@include tre(.5s);
		box-shadow: 0px 0px 25px 0px rgba(70, 92, 134, 0.10);
		border-radius: 0 0 10px 10px;

		@include responsive('tablet-h') {
			z-index: 1;
			top: 0;

			height: 100px;

			body:not(.home) & {
				width: calc(100vw - 20px);
				opacity: 1;
			}
		}
	}

	.scrolled & {
		.container:before {
			width: 100vw;
			opacity: 1;
		}

		.site-logo {
			width: 176px;
			top: 15px;

			@include responsive('tablet-h') {
				top: 27px;
				width: 150px;
			}

			#logo_text {
				path {
					fill: $primary-color;
				}
			}
		}
	}

	.menuopen & {
		.container:before {
			width: calc(100vw - 20px);
			opacity: 1;

			@include responsive('tablet-h') {
				opacity: 0;
			}
		}

		.site-logo {
			#logo_text {
				path {
					fill: $primary-color;
				}
			}
		}
	}
}

.responsive__btn {
	@include responsive('tablet-h') {
		position: absolute;
		top: 36PX;
		height: 36PX;
		width: 30PX;
		height: 30PX;
		z-index: 5;
		right: 36px;

		span {
			display: block;
			height: 4PX;
			border-radius: 5PX;
			background: $primary-color;
			margin-bottom: 5px;
			@include tre(.5s);

			body:not(.home) & {
				background: $primary-color;
			}
		}

		.menuopen & {
			span {
				background: $secondary-color !important;
			}

			span:nth-child(1) {
				transform: translateY(8px) rotate(45deg); //5
			}

			span:nth-child(2) {
				transform: translateY(-1px) rotate(-45deg); //-4
			}

			span:nth-child(3) {
				transform: scaleX(0);
			}
		}
	}

	.scrolled & {
		span {
			background: $primary-color;
		}
	}
}

.header-bg {
	height: 194px;
	position: absolute;
	top: 0;
	left: 0;
	background: $white;
	z-index: 1;
	width: 100%;

	.home & {
		display: none;
	}

	@include responsive('tablet-h') {
		display: none;
	}
}