/* Text Block Custom Style */

@mixin text_block() {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $primary-color;
		margin-bottom: 20px
	}

	h1 {
		@include fontsizes(h1);
	}

	h2 {
		@include fontsizes(h2);
	}

	h3 {
		@include fontsizes(h3);
	}

	h4 {
		@include fontsizes(h4);
	}

	h5 {
		@include fontsizes(h5);
	}

	h6 {
		@include fontsizes(h6);
	}

	p {
		@include fontsizes(h5);
		line-height: 1.4;
		margin-bottom: 1em;
	}

	ul,
	ol {
		padding-left: 15px;
		margin-bottom: 28px;
		line-height: 1.6;
	}

	ul {
		li {
			list-style: disc;
		}
	}

	a {
		color: $primary-color;

		&:hover {
			text-decoration: underline;
		}
	}

	blockquote {
		padding-left: 30px;
		border-left: 3px solid $primary-color;

		p {
			@include fontsizes(h4);
		}
	}

	img {
		width: auto;
		height: auto;
		max-width: 100%;
		margin: 0 0 28px 0;
	}

	.alignleft {
		float: left;
		max-width: 50%;
		margin-right: 30px;

		@include responsive('mobile-h') {
			max-width: 100%;
		}
	}

	.aligncenter {
		margin: 30px auto;
		display: block;
	}

	.alignright {
		float: right;
		max-width: 50%;
		margin-left: 30px;

		@include responsive('mobile-h') {
			max-width: 100%;
		}
	}
}

@mixin inputs() {
	height: 40px;
	line-height: 40px;
	background: none;
	border: 1px solid $third-color;
	padding: 0 25px;
	@include fontsizes(h6);
	color: $primary-color;

	&::placeholder {
		color: #BBBFC1;
	}
}

@mixin line() {
	height: rv(5px, 10px);
	width: rv(50px, 85px);
	border-radius: 5px;
	background: $secondary-color;
	content: '';
	display: block;
	@include tre(.5s);
	transform: scaleX(var(--v1, 0));
	transform-origin: 0 0;
}

@mixin list-styles() {

	ol,
	ul {
		margin-left: 25px;
		margin-bottom: 15px;
		margin-top: rv(15px, 25px);
	}

	li {
		list-style: unset;
		color: $bodyfont;

		@include responsive('tablet-h') {
			line-height: 1.58;
		}
	}

	blockquote {
		font-weight: 700;
		padding-left: 20px;
		font-style: italic;
		border-left: 3px solid;
		margin-top: 20px;
	}

	h1 {
		font-size: rv(23px, 36px);
		margin-top: 30px;
	}

	h2 {
		font-size: rv(22px, 28px);
		margin-top: 25px;
	}

	h3 {
		font-size: rv(20px, 24px);
		margin-top: 23px;
	}

	h4 {
		font-size: rv(18px, 20px);
		margin-top: 20px;
	}

	h5 {
		font-size: rv(16px, 18px);
		margin-top: 15px;
	}

	h6 {
		font-size: rv(16px, 18px);
		margin-top: 12px;
	}
}